<div class="left-vertical-navbar">
    <ul class="left-vertical-navbar-content">
        <li class="squircle" (click)="redirectHomepage()">
            <img class="icons" src = "/assets/images/logo-icon.svg" alt="dislinkt-logo-icon"/>
            <div class="popper">
                <h4 class="popper-text">Home</h4>
            </div>
        </li>
        <li class="divider"></li>
        <div *ngIf="user" >
        <li class="squircle" (click)="redirectFeed()">
            <img class="icons" src = "/assets/images/icon-feed.svg" alt="feed-icon"/>
            <div class="popper">
                <h4 class="popper-text">Feed</h4>
            </div>
        </li></div>
        <div *ngIf="user">
        <li class="squircle">
            <img class="icons" src = "/assets/images/icon-chats.svg" alt="chats-icon"/>
            <div class="popper">
                <h4 class="popper-text">Chats</h4>
            </div>
        </li></div>
        <div *ngIf="user">
        <li class="squircle" (click)="redirectConnections()">
            <img class="icons" src = "/assets/images/icon-friends.svg" alt="friends-icon"/>
            <div class="popper">
                <h4 class="popper-text">Connections</h4>
            </div>
        </li></div>
        <div *ngIf="user || admin">
        <li class="squircle">
            <img class="icons" src = "/assets/images/icon-notifications.svg" alt="notifications-icon"/>
            <div class="popper">
                <h4 class="popper-text">Notifications</h4>
            </div>
        </li></div>
        <div *ngIf="user">
        <li class="squircle">
            <img class="icons" src = "/assets/images/icon-jobs.svg" alt="jobs-icon"/>
            <div class="popper">
                <h4 class="popper-text">Job offers</h4>
            </div>
        </li></div>
    </ul>
</div>
