<div class="update-personal-data-component">

    <app-left-vertical-navbar></app-left-vertical-navbar>
    <app-top-left-corner-logo></app-top-left-corner-logo>

    <app-top-status-bar></app-top-status-bar>
    
    <app-top-right-vertical-navbar></app-top-right-vertical-navbar>
    <app-bottom-right-vertical-navbar></app-bottom-right-vertical-navbar>

    <app-sign-out-modal></app-sign-out-modal>

    <div class="update-personal-data-content">

        <div class="update-personal-data-card">

            <div class="update-personal-data-card-content">

                <div class="container">

                    <div class="card-title">
                        <div (click)="redirectSettingsAndPrivacy()" style="cursor: pointer">
                            <img class="card-title-icon" src = "/assets/images/icon-settings-and-privacy.svg" alt="setting-and-privacy-icon"/>
                            <span class="card-title-text">Settings & Privacy</span>
                        </div>
                        <div class="card-subtitle">
                            <img class="card-subtitle-icon" src = "/assets/images/icon-personal-data.svg" alt="personal-data-icon"/>
                            <span class="card-subtitle-text">Update personal data</span>
                        </div>
                    </div>

                    <div class="centralizer-containter">

                        <form>
                            <div class="container">
                                
                                <p class="info-txt"> <b>Update </b> your personal data.<br> When you're done, click on <b> Review changes</b>,  
                                                    and <b>save the changes </b> if you're pleased with the result!</p>

                                <div class="settings-section">

                                    <label class="label-text" for="username">Update username</label>
                                    <input class="input-text" type="text" placeholder="username-xyz" name="username" id="username">
    
                                    <label class="label-text" for="name">Update name</label>
                                    <input class="input-text" type="text" placeholder="Mr. Firstname Lastname" name="name" id="name">
    
                                    <label class="label-text" for="email">Update email</label>
                                    <input class="input-text" type="email" placeholder="mail@mail.com" name="email" id="email">
    
                                    <label class="label-text" for="phone-number"><b>Update phone number</b></label>
                                    <input class="input-text" type="tel" placeholder="" name="phone-number" id="phone-number">

                                    <label class="label-text" for=""><b>Update gender</b></label>
                                    <div style="text-align:left;">
                                        <label class="label-text">
                                            <input class="radio" type="radio" placeholder="" name="gender-radio" id="gender-radio"> <span>Male</span>
                                        </label>
                                        <label class="label-text">
                                            <input class="radio" type="radio" placeholder="" name="gender-radio" id="gender-radio"> <span>Female</span>
                                        </label>
                                    </div>
                        
                                    <label class="label-text" for="date-of-birth"><b>Update date of birth</b></label>
                                    <input class="input-text" type="date" placeholder="" name="date-of-birth" id="date-of-birth">
    
                                    <label class="label-text" for="biography"><b>Update biography</b></label>
                                    <textarea class="input-text" style="resize: none;" name="biography" id="biography" cols="30" rows="3"></textarea>

                                </div>

                                <div class="centralizer-containter">
                                    <input type="button" class="button yes-button" style="font-size:clamp(1.8vh,15px,2.7vh);" value="Review changes">
                                </div>
                            </div>
                            
                            <div class="centralizer-containter">
                                
                                <div  style="display:flex;justify-content: space-between; padding: 0px 20px;">
                                    <input type="reset" class="button no-button" style="font-size:clamp(1.2vh,11px,1.8vh);" value="Cancel" (click)="redirectSettingsAndPrivacy()">
                                    <span><input type="reset" class="button reset-button" style="font-size:clamp(1.2vh,11px,1.8vh);" svalue="Reset"></span>
                                </div>
                            </div>
            
                          </form>


                      
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>