<div id="id-forgot-password-modal" class="modal">
  
    <form class="modal-content animate">
      <div class="modal-title-container">
        <span onclick="document.getElementById('id-forgot-password-modal').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img class="modal-title-icon" src = "/assets/images/icon-sign-in.svg" alt="sign-in-icon"/>
        <span class="modal-title-text">Forgot password</span>
      </div>
  
      <div class="form-container">
        <label class="form-label" for="email"><b>Email</b></label>
        <input type="text" class="form-control" placeholder="Enter Email" name="email" required >
  
        <button type="submit" data-dismiss="modal"   onclick="document.getElementById('id-forgot-password-modal').style.display='none'; document.getElementById('id-reset-password-modal').style.display = 'block'">Send refresh password code</button>
       
      </div>
  
      <div class="form-container">
        <button type="button" onclick="document.getElementById('id-forgot-password-modal').style.display='none'  " class="cancelbtn" data-dismiss="modal">Cancel</button>

      </div>
    </form>
  </div>


  <div id="id-reset-password-modal" class="modal">
  
    <form class="modal-content animate">
      <div class="modal-title-container">
        <span onclick="document.getElementById('id-reset-password-modal').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img class="modal-title-icon" src = "/assets/images/icon-sign-in.svg" alt="sign-in-icon"/>
        <span class="modal-title-text">Reset password</span>
      </div>
  
      <div class="form-container">
        <label class="form-label" for="email"><b>Email</b></label>
        <input type="text" class="form-control" placeholder="Enter Email" name="email" >
  
        <label class="form-label" for="psw"><b>Code</b></label>
        <input type="password" class="form-control" placeholder="Enter Code from email" name="psw"  >
       
        <label class="form-label" for="psw"><b>New password</b></label>
        <input type="password" class="form-control" placeholder="Enter new password" name="psw"  >
        
        <label class="form-label" for="psw"><b>Confirm password</b></label>
        <input type="password" class="form-control" placeholder="Enter confirm password" name="psw" required  >
        <button type="submit" data-dismiss="modal"   onclick="document.getElementById('id-sign-in-modal').style.display='none'">Refresh password</button>
       

      </div>
  
      <div class="form-container">
        <button type="button" onclick="document.getElementById('id-reset-password-modal').style.display='none'" class="cancelbtn" data-dismiss="modal">Cancel</button>

      </div>
    </form>
  </div>