<div id="id-forgot-password-modal" class="modal">
  
    <form class="modal-content animate" [formGroup]="forgotPasswordForm1" (ngSubmit)="sendPasswordRecoveryRequest()">
      <div class="modal-title-container">
        <span onclick="document.getElementById('id-forgot-password-modal').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img class="modal-title-icon" src = "/assets/images/icon-sign-in.svg" alt="sign-in-icon"/>
        <span class="modal-title-text">Forgot password</span>
      </div>
  
      <div class="form-container">
        <div class="form-group"> 
        <label class="form-label" for="email"><b>Email</b></label>
        <input type="text" class="form-control is-invalid" formControlName="email" [ngClass]="{'is-invalid':submitted1 && forgotPasswordForm1.controls.email.errors}" placeholder="Enter Email" name="email" required [(ngModel)]="email">
  
        <div *ngIf="submitted1 && forgotPasswordForm1.controls.email.errors" class="text-danger" >
        
          <div *ngIf="submitted1  && forgotPasswordForm1.controls.email.errors.email ">
            Email is not correct
          </div>
          <div *ngIf="submitted1 && forgotPasswordForm1.controls.email.errors.required">
            Email is required
          </div>
        </div>
        </div>
        <button type="submit" data-dismiss="modal" ng-disabled="forgotPasswordForm1.$submitted1"   (click)="sendPasswordRecoveryRequest()">Send refresh password code</button>
       
      </div>
  
      <div class="form-container">
        <button type="button" onclick="document.getElementById('id-forgot-password-modal').style.display='none'  " class="cancelbtn" data-dismiss="modal">Cancel</button>

      </div>
    </form>
  </div>


  <div id="id-reset-password-modal" class="modal">
  
    <form class="modal-content animate" [formGroup]="forgotPasswordForm" (ngSubmit)="passwordRecovery()">
      <div class="modal-title-container">
        <span onclick="document.getElementById('id-reset-password-modal').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img class="modal-title-icon" src = "/assets/images/icon-sign-in.svg" alt="sign-in-icon"/>
        <span class="modal-title-text">Reset password</span>
      </div>
  
      <div class="form-container">
        <label class="form-label" for="psw"><b>Code</b></label>
        <input type="password" formControlName="code"  [ngClass]="{'is-invalid':submitted && forgotPasswordForm.controls.code.errors}" class="form-control" placeholder="Enter Code from email" name="psw" [(ngModel)]="code" >
        <div *ngIf="submitted && forgotPasswordForm.controls.code.errors" class="text-danger" >
          <div *ngIf="submitted && forgotPasswordForm.controls.code.errors.required">
            Code is required
          </div>
        </div>


        <label class="form-label" for="psw"><b>New password</b></label>
        <input type="password" formControlName="password"  class="form-control is-invalid" [ngClass]="{'is-invalid':submitted && forgotPasswordForm.controls.password.errors}" placeholder="Enter new password" name="psw"  [(ngModel)]="password" >
        <div *ngIf="submitted && forgotPasswordForm.controls.password.errors" class="text-danger" >
          <div *ngIf="submitted  && forgotPasswordForm.controls.password.errors.minlength ">
            Password must have minimum 10 characters
          </div>
          <div *ngIf="submitted && forgotPasswordForm.controls.password.errors.required">
            Password is required
          </div>
          <div *ngIf="submitted && forgotPasswordForm.controls.password.errors.confirmedValidator" > Password and confirm password can not contain email and username </div>
          <div *ngIf="submitted && forgotPasswordForm.controls.password.errors" > Must contain at least one uppercase, lowercase, digit and a special character <i>(!@#$%^&*()_+~-)</i> </div>
        </div>

        <div class="form-group">
        <label class="form-label" for="psw"><b>Confirm password</b></label>
        <input type="password" formControlName="confirmPassword" [ngClass]="{'is-invalid':submitted && forgotPasswordForm.controls.confirmPassword.errors}" class="form-control" placeholder="Enter confirm password" name="psw" required  [(ngModel)]="confirmPassword" >
        <div *ngIf="submitted && forgotPasswordForm.controls.confirmPassword.errors" class="text-danger" >
          
          <div *ngIf="submitted && forgotPasswordForm.controls.confirmPassword.errors.minlength">
           Confirm password have minimum 10 caracters
          </div>
          <div *ngIf="submitted && forgotPasswordForm.controls.confirmPassword.errors.required">
            Confirm password is required
          </div>
         <div *ngIf="submitted && forgotPasswordForm.controls.confirmPassword.errors.confirmedValidator" > Password and confirm password must be match </div>
        </div>
      
      </div>

        <button type="submit" data-dismiss="modal"  ng-disabled="forgotPasswordForm.$submitted" (click)="passwordRecovery()">Refresh password</button>
      </div>
  
      <div class="form-container">
        <button type="button" onclick="document.getElementById('id-reset-password-modal').style.display='none'" class="cancelbtn" data-dismiss="modal">Cancel</button>

      </div>
    </form>
  </div>