<div class="profile-component">

    <app-left-vertical-navbar></app-left-vertical-navbar>
    <app-top-right-vertical-navbar></app-top-right-vertical-navbar>

    <app-registration-modal></app-registration-modal>
    <app-sign-in-modal></app-sign-in-modal>
    <app-sign-out-modal></app-sign-out-modal>
    <app-create-post-modal></app-create-post-modal>
    <app-forgot-password></app-forgot-password>
    <app-passwordless-login></app-passwordless-login>


<div style="margin-left: 20rem; margin-top: 20rem">
   <div *ngIf="admin"> 
Cao admine
   </div> 
   <div *ngIf="user"> 
    Cao korisnice <i [(ngModel)]="usernameInfo" ngDefaultControl>{{usernameInfo}}</i>
       </div> 
</div>


</div>