<div class="profile-component">

    <app-left-vertical-navbar></app-left-vertical-navbar>
    <app-top-right-vertical-navbar></app-top-right-vertical-navbar>

    <app-registration-modal></app-registration-modal>
    <app-sign-in-modal></app-sign-in-modal>
    <app-sign-out-modal></app-sign-out-modal>
    <app-create-post-modal></app-create-post-modal>
    <app-forgot-password></app-forgot-password>
    <app-passwordless-login></app-passwordless-login>

    <div class="row  rounded border border border-dark" style="height:120px; margin:0px; padding:0px; overflow:hidden;">
    
      <div class="col" style="margin:0px; padding:0px;">

        <div class="page-heading" style="margin:5px; padding:10px; overflow:hidden;">
          <div class="media clearfix">
            <div class="media-left pr30">
              <a>
                <img *ngIf="profileData.gender == 'male'" [src]="'http://xsgames.co/randomusers/assets/avatars/male/'+profileData.id+'.jpg'" class="media-object mw100 rounded-circle shadow-4">
                <img *ngIf="profileData.gender == 'female'" [src]="'http://xsgames.co/randomusers/assets/avatars/female/'+profileData.id+'.jpg'"  class="media-object mw100 rounded-circle shadow-4">
              </a>
            </div>                      
            <div class="media-body va-m">
              <h2 class="media-heading"> {{profileData.name}}
                <small> - <i> {{profileData.username}} </i></small>
                <span *ngIf="profileData.isPrivateProfile == 'true'"> <img src="./assets/images/icon-private.svg" style="margin:-2px 0px 0px 2px; width:15px; height:15px;"/> </span>
                <span *ngIf="profileData.isPrivateProfile == 'false'"> <img src="./assets/images/icon-public.svg" style="margin:-2px 0px 0px 2px; width:15px; height:15px;"/> </span>
              </h2>
              <p class="user-button-text" *ngIf="isMyProfile(profileData.id)" style=" color:#7c8b95; margin:-10px 0px 0px 2px; padding:0px;"> You </p>
              <p class="user-button-text" *ngIf="isInConnections(profileData.id)" style="color:#03A062; margin:-10px 0px 0px 2px; padding:0px;">Friend </p>
              <p class="user-button-text" *ngIf="isUserWithRequest(profileData.id)" style="color:#27A1AA; margin:-10px 0px 0px 2px; padding:0px;">Sent a friend request for you </p>
              <p class="user-button-text" *ngIf="isPendingUser(profileData.id)" style="color:#D48231; margin:-10px 0px 0px 2px; padding:0px;">You already sent a friend request </p>
              <p class="user-button-text" *ngIf="isBlocked(profileData.id)"style="color:#D43C31; margin:-10px 0px 0px 2px; padding:0px;">Blocked user by you </p>
              <div class="d-xs-none d-none d-lg-block d-xl-block">
                <p class="lead truncate-1"><i>Biography:</i>  &nbsp; {{profileData.biography}} </p>
              </div>              
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="row" style="height:calc(100% - 120px)!important;  overflow:hidden; margin:0px; padding:0px;">
    
      <div class="col-lg-3 rounded border border-dark"  style="padding:0px; max-height: 100%;">

        <div style="position: relative; overflow-y:auto; height:100%!important; padding:5px;">
      
          <div class="panel" style="padding-bottom:5px;" >
            <div  class="panel-heading" (click)="togglePanelBody('aboutMePanelBody')" style="cursor:pointer">
              <span class="panel-title truncate-1"> 
                <img src="./assets/images/icon-personal-data.svg"> &nbsp; About me
                <span *ngIf="isMyProfile(profileData.id)" style="float:right; font-size:13px;"> <a href="settings-and-privacy/update-personal-data">Edit</a> </span>
              </span>
            </div>
            <div class="wrapper">
              <div id="aboutMePanelBody" class="hide panel-body pb5" style="overflow: hidden;">
                <h6 *ngIf="profileData.phoneNumber"  style="color:#c4c4c4"> <i>- Phone number:</i> <b>  {{profileData.phoneNumber}} </b> </h6>
                <h6 *ngIf="profileData.dateOfBirth"  style="color:#c4c4c4"> <i>- Date of birth:</i> <b>  {{profileData.dateOfBirth}} </b> </h6>
                <h6 *ngIf="profileData.address" style="color:#c4c4c4"> <i>- Address:</i> <b>  {{profileData.address}} </b> </h6>
                <h6 *ngIf="profileData.email" style="color:#c4c4c4"> <i>- E-mail:</i> <b>  {{profileData.email}} </b> </h6>
              </div>
            </div>
          </div>
          <div class="panel" style="padding-bottom:5px;">
            <div class="panel-heading" (click)="togglePanelBody('skillsInterestsPanelBody')" style="cursor:pointer">
              <span class="panel-title truncate-1"> 
                <img src="./assets/images/icon-skills-and-interests.svg"> &nbsp; Skills & Interests
                <span *ngIf="isMyProfile(profileData.id)" style="float:right; font-size:13px;"> <a href="settings-and-privacy/update-skills-and-interests">Edit</a> </span>
              </span>
            </div>
            <div class="wrapper">
              <div id="skillsInterestsPanelBody" class="hide panel-body pb5" style="overflow: hidden;">
                <h6 style="color:#c4c4c4">Skills</h6>
                <span *ngFor="let skill of profileData.skills" class="badge rounded-pill bg-light text-dark">{{skill}}</span>
                <hr class="short br-lighter">
                <h6 style="color:#c4c4c4">Interests</h6> 
                <span *ngFor="let interest of profileData.interests" class="badge rounded-pill bg-light text-dark">{{interest}}</span>
              </div>
            </div>
          </div>
          <div class="panel" style="padding-bottom:5px;">
            <div class="panel-heading" (click)="togglePanelBody('workAndEducationPanelBody')" style="cursor:pointer">
              <span class="panel-title truncate-1"> 
                <img src="./assets/images/icon-work-and-education.svg"> &nbsp; Work & Education
                <span *ngIf="isMyProfile(profileData.id)" style="float:right; font-size:13px;"> <a href="settings-and-privacy/update-work-and-education">Edit</a> </span>
              </span>
            </div>
            <div class="wrapper">
              <div  id="workAndEducationPanelBody"  class="hide panel-body pb5" style="overflow: hidden; ">
                <p style="color:#c4c4c4">Work</p>
                <span *ngFor="let work of profileData.work" class="badge rounded-pill bg-dark" >{{work}}</span>
                <hr class="short br-lighter">
                <p style="color:#c4c4c4">Education</p>
                <span *ngFor="let education of profileData.education" class="badge rounded-pill bg-dark">{{education}}</span>
              </div>
            </div>
          </div>
          <div class="panel"  style="padding-bottom:5px;">
            <div class="panel-heading" (click)="togglePanelBody('biographyPanelBody')" style="cursor:pointer">
              <span class="panel-title truncate-1"> 
                <img src="./assets/images/icon-work-and-education.svg"> &nbsp; Full biography
                <span *ngIf="isMyProfile(profileData.id)" style="float:right; font-size:13px;"> <a href="settings-and-privacy/update-personal-data">Edit</a> </span>
              </span>
            </div>
            <div class="wrapper">
              <div id="biographyPanelBody"  class="hide panel-body pb5" style="overflow: hidden;">
                <h6  style="color:#c4c4c4">{{profileData.biography}}</h6>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div  class="col-lg-9 rounded border border border-dark " style="padding: 0px; max-height:100%; ">
   

        <div *ngIf="userPosts.length != 0" style="position: relative; overflow-y:auto; height:100%!important; padding:5px;">

          <div *ngFor="let post of userPosts" class="user-post-card">
            <!-- POST HEADER -->
           <div class="post-header">
               <!-- header left -->
               <div class="post-header-left">
                   <a (click)="redirectToUserProfile(profileData.id)"> 
                     <img *ngIf="profileData.gender == 'male'" [src]="'http://xsgames.co/randomusers/assets/avatars/male/'+profileData.id+'.jpg'" class="post-author-picture">
                     <img *ngIf="profileData.gender == 'female'" [src]="'http://xsgames.co/randomusers/assets/avatars/female/'+profileData.id+'.jpg'"  class="media-object mw100 rounded-circle shadow-4">
                   </a>
                   <h2 class="media-heading"> {{profileData.name}}
                     <small> - <i> {{profileData.username}} </i></small>
                     <span *ngIf="profileData.isPrivateProfile == 'true'"> <img src="./assets/images/icon-private.svg" style="margin:-2px 0px 0px 2px; width:15px; height:15px;"/> </span>
                     <span *ngIf="profileData.isPrivateProfile == 'false'"> <img src="./assets/images/icon-public.svg" style="margin:-2px 0px 0px 2px; width:15px; height:15px;"/> </span>
                   </h2>
                   <h6 style="margin:-5px 0px 0px 77px; color:#a3b5c1">{{post.createdAt}} </h6>
               </div>
               <!-- header right -->
               <div class="post-header-right">
                   <div class="post-options">
                       <span>   <img src="./assets/images/icon-options.svg" style="width:11px; height:11px;"/></span>
                   </div>
               </div>
   
           </div>
           <!-- POST CONTENT-->
           <div class="post-content">
               <p class="content-paragraph">
                   {{post.text}}
               </p>
               <!--
               <img src="/assets/images/placeholder-post-photo.png" class="content-image">
               -->
           </div>
           <!-- POST FOOTER-->
           <div class="post-footer">
   
               <div class="footer-reactions">
                   <div class="reactions-emojis">
                       <a><img src="/assets/images/icon-like-filled.svg" class="emoji-like"></a>
                       <span><a>{{post.numberOfLikes}}</a></span>
                       <a><img src="/assets/images/icon-dislike-filled.svg" class="emoji-dislike"></a>
                       <span><a>{{post.numberOfDislikes}}</a></span>
                       <a><img src="/assets/images/icon-comments-read.svg" style="margin-left:8px" class="emoji-like"></a>
                       <span class="comment-shares-comments"><a>{{post.comments.length}}</a></span>
                       <div class="mt-2 text-right">
                           <button (click)="post.showComments = !post.showComments" class="btn btn-outline-secondary btn-sm ml-1 shadow-none" style="margin: -10px 0px 0px 10px;" type="button">
                               {{post.showComments ? 'Hide comments' : 'Show comments'}}</button>
                       </div>
                   </div>
                   <div class="reactions-comment">
   
                       <button (click)="post.showAddComment = !post.showAddComment" class="btn btn-outline-secondary btn-sm ml-1 shadow-none" type="button">
   
                           <a><img src="/assets/images/icon-comments-write.svg" style="margin-left:8px" class="emoji-like"></a>
                           <span class="comment-shares-comments"><a>Add a comment</a></span>
       
                       </button>
   
                   </div>
               </div>
           </div>
   
           <div *ngIf="post.showComments" class=" p-2 read-comment rounded"  style="padding:0px 5px; background-color:#1e2126">
   
            <div *ngIf="post.comments.length!=0">
               <div *ngFor="let comment of post.comments" class="rounded" style="padding:5px 5px; ">
                <div class="d-flex flex-row align-items-start">
                  <img *ngIf="users.get(comment.userId).gender === 'male'" [src]="'http://xsgames.co/randomusers/assets/avatars/male/'+comment.userId+'.jpg'" width="50" class=" media-object rounded-circle">
                  <img *ngIf="users.get(comment.userId).gender  === 'female'" [src]="'http://xsgames.co/randomusers/assets/avatars/female/'+comment.userId+'.jpg'"  width="50" class=" media-object rounded-circle">
                  <div class="d-lex flex-column align-items-start">
                    <div class="rounded" style=" margin:2px; padding:4px; background-color:#2a2f35">
                      <h5 style="margin:-2px 0px 0px 2px; font-weight: 100; font-size:10px;color:#c4c4c4">{{users.get(comment.userId).name}} - <i>{{users.get(comment.userId).username}}</i></h5>
                      <h6 style="margin: -2px 0px 0px 3px; font-size: 12px; color:#c2c2c2">{{comment.text}} </h6>
                    </div>
                    <h6 style="margin: -2px 0px 0px 10px; font-size: 9px; color:#a3b5c1">{{comment.createdAt}} </h6>
                  </div>
                </div>
               </div>
            </div>

            <div *ngIf="post.comments.length==0">
              <div class="d-lex flex-column align-items-start">
                <div class="rounded" style=" margin:2px; padding:4px; background-color:#2a2f35">
                  <h5 style="margin:-2px 0px 0px 2px; font-weight: 100; font-size:10px;color:#c4c4c4">There's not chat.</h5>
                </div>
              </div>
            </div>
           </div>
   
           <div *ngIf="post.showAddComment"  class=" p-2 write-comment">
               <div class="d-flex flex-row align-items-start">
                <textarea class="form-control ml-1 shadow-none textarea input-text" 
                   oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
                   <img *ngIf="profileData.gender == 'male'" [src]="'http://xsgames.co/randomusers/assets/avatars/male/'+profileData.id+'.jpg'" width="50" class="media-object  rounded-circle shadow-4">
                   <img *ngIf="profileData.gender == 'female'" [src]="'http://xsgames.co/randomusers/assets/avatars/female/'+profileData.id+'.jpg'" width="50"  class="media-object  rounded-circle shadow-4">

               </div>
               <div class="mt-2 text-right">
                   <button class="btn btn-secondary btn-sm shadow-none" type="button">Post comment</button>
                   <button (click)="post.showAddComment = !post.showAddComment" class="btn btn-outline-secondary btn-sm ml-1 shadow-none" style="margin-left:5px" type="button">Cancel</button>
               </div>
           </div>
   

          </div>
   


        </div>



        
      </div>

    </div>

</div>