<div class="privacy-and-notification-settings-component">

    <app-left-vertical-navbar></app-left-vertical-navbar>
    <app-top-left-corner-logo></app-top-left-corner-logo>

    <app-top-status-bar></app-top-status-bar>
    
    <app-top-right-vertical-navbar></app-top-right-vertical-navbar>
    <app-bottom-right-vertical-navbar></app-bottom-right-vertical-navbar>

    <app-sign-out-modal></app-sign-out-modal>

    <div class="privacy-and-notification-settings-content">

        <div class="privacy-and-notification-settings-card">

            <div class="privacy-and-notification-settings-card-content">

                <div class="container">

                    <div class="card-title">
                        <div (click)="redirectSettingsAndPrivacy()" style="cursor: pointer">
                            <img class="card-title-icon" src = "/assets/images/icon-settings-and-privacy.svg" alt="setting-and-privacy-icon"/>
                            <span class="card-title-text">Settings & Privacy</span>
                        </div>
                        <div class="card-subtitle">
                            <img class="card-subtitle-icon" src = "/assets/images/icon-privacy-and-notification-settings.svg" alt="privacy-and-notification-settings-icon"/>
                            <span class="card-subtitle-text">Privacy and notification settings</span>
                        </div>
                    </div>

                    <div class="centralizer-containter">

                        <form>
                            <div class="container">
                                
                                <p class="info-txt"> <b>Update </b> your work and education.<br> When you're done, click on <b> Review changes</b>,  
                                                    and <b>save the changes </b> if you're pleased with the result!</p>
                                <br>
                                <div class="centralizer-containter">
                                    <img src = "/assets/images/logo-icon.svg" alt="logo-icon"/>
                                </div>

                                <p class="info-txt"> Under wraps! Woof!</p>
                    

                            </div>
                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>