<div class="top-right-corner-menubar">
    <ul class="top-right-corner-menubar-content">
        <li class="squircle" (click)="redirectProfile()">
            <img class="icons" src = "/assets/images/icon-my-profile.svg" alt="my-profile-icon"/>
            <div class="popper">
                <h4 class="popper-text">My profile</h4>
            </div>
        </li>
        <li class="squircle" (click)="registerModal()">
            <img class="icons" src = "/assets/images/icon-register.svg" alt="register-icon"/>
            <div class="popper">
                <h4 class="popper-text">Register</h4>
            </div>
        </li>
        <li class="squircle" (click)="redirectSettingsAndPrivacy()">
            <img class="icons" src = "/assets/images/icon-settings-and-privacy.svg" alt="settings-and-privacy-icon"/>
            <div class="popper">
                <h4 class="popper-text">Settings & Privacy</h4>
            </div>
        </li>
        <li class="squircle" (click)="signInModal()">
            <img class="icons" src = "/assets/images/icon-sign-in.svg" alt="sign-in-icon"/>
            <div class="popper">
                <h4 class="popper-text">Sign in</h4>
            </div>
        </li>
        <li class="squircle" (click)="signOutModal()">
            <img class="icons" src = "/assets/images/icon-sign-out.svg" alt="sign-out-icon"/>
            <div class="popper">
                <h4 class="popper-text">Sign out</h4>
            </div>
        </li>
    </ul>
</div>