:host {
    --dark-main: #2A2F35;
	--dark-navbar: #1E2126;
	--dark-navbar-icon-background: #2A2F35;
	--dark-navbar-icon-active-background: #3c4046;

	--dark-important-text-color: #F4F4F4;
	--dark-text-color: #A4A4A4;

    --full-white: #fff;
	--full-black: #000;

    --icon-color: #A4A4A4;

	--color-blurple: #7289da;
	--color-not-quite-black: #23272a;
	--color-dark: #2c2f33;
	--color-lighter-dark: #45494e;
	--color-grey-white: #B9BBBE;
	--color-grey-dark: #242629;
	--color-actually-black: #000000;
	--color-fantastic-green: #00ae7a;
}

.feed-component {
	background-color: var(--dark-navbar);
	outline: solid 2px var(--dark-navbar);
	color: var(--full-white);
	min-height: 100vh;
	margin-top: 0px;
	border-radius: 2px;
	padding: 20px;
	height: 90%;
	width: 60%;
	left:20%;
	position: fixed;
	text-overflow: ellipsis;
	overflow: auto; 
	white-space: wrap;

}


.user-post-cards{
    position: relative;
    
    margin-top: 40px;
    margin-bottom: 5vh;
    width: 100vw;
    height: 100vh;
    overflow: auto;
	border-radius: 10px;
    z-index: 0;
}

