<div class="job-offers-component">

    <app-left-vertical-navbar></app-left-vertical-navbar>
    <!--<app-top-search-bar></app-top-search-bar> -->
    <app-top-right-vertical-navbar></app-top-right-vertical-navbar>
    <app-bottom-right-vertical-navbar></app-bottom-right-vertical-navbar>
    <app-bottom-left-vertical-navbar></app-bottom-left-vertical-navbar>

    <app-registration-modal></app-registration-modal>
    <app-sign-in-modal></app-sign-in-modal>
    <app-sign-out-modal></app-sign-out-modal>
    <app-forgot-password></app-forgot-password>
    <app-passwordless-login></app-passwordless-login>
  
    <app-mid-right-vertical-navbar></app-mid-right-vertical-navbar>

   <!-- <p (click)="getConnections()"> aaaaaa </p> -->

    <div class="row" style="height:100%;" >

      <div class="col-lg-5 d-xs-none d-none d-lg-block d-xl-block rounded border border border-dark"  style="padding:0px; max-height: 100%;">

        <div class="search-bar" style="padding:10px;" >
          <div class="search-form">
            <input  type="search" id="searchInput" class="search-input" (keydown.enter)="searchJobOfferByCompany()" placeholder="Search job offers by company name" [(ngModel)]="searchText" ngDefaultControl  autofocus>
            <button type="submit" class="search-button">
                <svg class="submit-button">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
                </svg>
            </button>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">
            <symbol id="search" viewBox="0 0 32 32">
                <path d="M 19.5 3 C 14.26514 3 10 7.2651394 10 12.5 C 10 14.749977 10.810825 16.807458 12.125 18.4375 L 3.28125 27.28125 L 4.71875 28.71875 L 13.5625 19.875 C 15.192542 21.189175 17.250023 22 19.5 22 C 24.73486 22 29 17.73486 29 12.5 C 29 7.2651394 24.73486 3 19.5 3 z M 19.5 5 C 23.65398 5 27 8.3460198 27 12.5 C 27 16.65398 23.65398 20 19.5 20 C 15.34602 20 12 16.65398 12 12.5 C 12 8.3460198 15.34602 5 19.5 5 z" />
            </symbol>
          </svg>
    
        </div>

        <div style="height:calc(100% - 74px); overflow:scroll"> 

          <div class="page-heading button-shadow" *ngFor="let job of jobs" >
            <div class="media clearfix">
              <div class="media-left pr30">
                <a>
                  <img [src]="'https://avatars.dicebear.com/api/initials/'+job.company.replaceAll(' ','')+'+.svg'" width="70"  class="media-object mw100 rounded shadow-4 button-shadow" style="filter: grayscale(33%);">
                </a>
              </div>
              <div class="media-body" >
                <h4 class="media-heading user-button-text"> 
                  {{job.company}} - <i style="font-size:15px;"> {{job.position}} </i> 
                </h4>
                <p class="lead truncate"><i>Description:</i>  &nbsp; {{job.description}} </p>
                <span *ngFor="let requirement of job.requirements" class="badge rounded-pill bg-dark text-light" style="margin-right: 5px; font-size:12px; font-weight:100">{{requirement}}</span>
              </div>
              <div class="profile-options d-flex" style="float:right; flex:1; padding:2px;"> 
            </div>
            </div>
          </div> 


        </div>

          

      </div>
      
      <div class="col-lg-7 rounded border border border-dark " style="padding: 0px; height:100%; overflow: hidden;">
  
        <div class="container" style="padding: 0px; height:100%; min-width:100%;">

        </div>
  
      </div>


    </div>
    
</div>