<div class="update-skills-and-interests-component">

    <app-left-vertical-navbar></app-left-vertical-navbar>
    <app-top-left-corner-logo></app-top-left-corner-logo>
        
    <app-top-right-vertical-navbar></app-top-right-vertical-navbar>
    <app-bottom-right-vertical-navbar></app-bottom-right-vertical-navbar>

    <app-sign-out-modal></app-sign-out-modal>

    <div class="update-skills-and-interests-content">

        <div class="update-skills-and-interests-card">

            <div class="update-skills-and-interests-card-content">

                <div class="container">

                    <div class="card-title">
                        <div (click)="redirectSettingsAndPrivacy()" style="cursor: pointer">
                            <img class="card-title-icon" src = "/assets/images/icon-settings-and-privacy.svg" alt="setting-and-privacy-icon"/>
                            <span class="card-title-text">Settings & Privacy</span>
                        </div>
                        <div class="card-subtitle">
                            <img class="card-subtitle-icon" src = "/assets/images/icon-work-and-education.svg" alt="work-and-education-icon"/>
                            <span class="card-subtitle-text">Update work and education</span>
                        </div>
                    </div>

                    <div class="centralizer-containter">

                        <form>
                            <div class="container">
                                
    

                                <div class="settings-section">
    
                                    <label class="label-text" for="work"><b>Update work</b></label>
                                    <textarea class="input-text" style="resize: none;" name="work" id="work" cols="30" rows="3" [(ngModel)]="profileData.work"></textarea>

                                        
                                    <label class="label-text" for="education"><b>Update education</b></label>
                                    <textarea class="input-text" style="resize: none;" name="education" id="education" cols="30" rows="3" [(ngModel)]="profileData.education"></textarea>

                                </div>

     
                                <div class="centralizer-containter p-3">
                                    <input type="button" class="button yes-button" style="font-size:clamp(1.8vh,15px,2.7vh);" value="Accept & Save" (click)="updateWorkAndEducation() ">
                                    <input type="button" class="button no-button" style="font-size:clamp(1.8vh,15px,2.7vh);" value="Discard & Save" (click)="redirectSettingsAndPrivacy()">
                                </div>
                                

                                <p class="info-txt"> When you're done, click on: 
                                    <br> - <b>Accept & Save</b>, if you're pleased with the changes.  
                                    <br> - <b>Discard & Save</b>, if you want to discard the changes.</p>


                            </div>
            
                          </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>