<div class="homepage-component">

    <app-left-vertical-navbar></app-left-vertical-navbar>
    <!--<app-top-search-bar></app-top-search-bar> -->
    <app-top-right-vertical-navbar></app-top-right-vertical-navbar>
    <app-bottom-right-vertical-navbar></app-bottom-right-vertical-navbar>
    <app-registration-modal></app-registration-modal>
    <app-sign-in-modal></app-sign-in-modal>
    <app-sign-out-modal></app-sign-out-modal>
    <app-forgot-password></app-forgot-password>
    <app-passwordless-login></app-passwordless-login>

    <div class="search-bar" >
      <div class="search-form">
        <input  type="search" id="searchInput" class="search-input" (keydown.enter)="searchUsersByUsername()" [(ngModel)]="searchText" ngDefaultControl  autofocus>
        <button type="submit" class="search-button" (click)="searchUsersByUsername()" >
            <svg class="submit-button">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
            </svg>
        </button>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">
        <symbol id="search" viewBox="0 0 32 32">
            <path d="M 19.5 3 C 14.26514 3 10 7.2651394 10 12.5 C 10 14.749977 10.810825 16.807458 12.125 18.4375 L 3.28125 27.28125 L 4.71875 28.71875 L 13.5625 19.875 C 15.192542 21.189175 17.250023 22 19.5 22 C 24.73486 22 29 17.73486 29 12.5 C 29 7.2651394 24.73486 3 19.5 3 z M 19.5 5 C 23.65398 5 27 8.3460198 27 12.5 C 27 16.65398 23.65398 20 19.5 20 C 15.34602 20 12 16.65398 12 12.5 C 12 8.3460198 15.34602 5 19.5 5 z" />
        </symbol>
      </svg>
      <small style="float: right; margin: -15px 15px 0px 0px; color: #c4c4c4;">
        <label class="label-text" for=""><b>Number of search results: <span style="color: #fff"> {{this.numberOfSearchResults}} </span></b></label>
      </small>
      <small style="float: left; margin: -15px 0px 0px 15px; color: #c4c4c4; "> 
        <div style="text-align:left;">
          <label class="label-text" for=""><b>Search for:</b></label>
          <label class="label-text">
              <input class="radio" type="radio" placeholder="" name="search-radio" id="search-radio" [(ngModel)]="isSearchForUsers" [value]="true"> <span>users</span>
          </label>
          <label class="label-text">
              <input class="radio" type="radio" placeholder="" name="search-radio" id="search-radio" [(ngModel)]="isSearchForUsers" [value]="false"> <span>job offers</span>
          </label>
        </div>
      
      
      </small>

    </div>

    <section id="content" class="container" style="overflow:auto">

      <div *ngIf="LoggedUser === false && isSearchForUsers===true">
        <div class="page-heading " *ngFor="let user of users">
            <div class="media clearfix" (click)="redirectToUserProfile(user.id)">
              <div class="media-left pr30">
                <a>
                  <img *ngIf="user.gender == 'male'" [src]="'http://xsgames.co/randomusers/assets/avatars/male/'+user.UserId+'.jpg'"  class="media-object mw100 rounded-circle shadow-4">
                  <img *ngIf="user.gender == 'female'"[src]="'http://xsgames.co/randomusers/assets/avatars/female/'+user.UserId+'.jpg'"  class="media-object mw100 rounded-circle shadow-4">
                </a>
              </div>
              <div class="media-body va-m">
                <h2 class="media-heading"> {{user.name}}
                  <small> - <i> {{user.username}} </i></small>
                  <span *ngIf="user.isPrivateProfile === 'true'"> <img src="./../../../assets/images/icon-private.svg" style="margin:-2px 0px 0px 2px; width:15px; height:15px;"/> </span>
                  <span *ngIf="user.isPrivateProfile === 'false'"> <img  src="./../../../assets/images/icon-public.svg" style="margin:-2px 0px 0px 2px; width:15px; height:15px;"/> </span>
                </h2>
                <p class="lead truncate"><i>Biography:</i>  &nbsp; {{user.biography}} </p>
              </div>
              <div class="profile-options d-flex" style="float:right; flex:1; padding:2px;"> 
                <button class="primary-menu-button" type="button" (click)="redirectToUserProfile(user.ID)"> <p>View profile</p> </button>
                <!-- TODO: Profile options
                <button class="primary-menu-button" type="button"> <p>Message</p> </button>
                <button class="primary-menu-button" type="button"> <p>Link</p> </button>
                <button class="primary-menu-button" type="button"> <p>Unlink</p> </button>
                <button class="primary-menu-button" type="button"> <p>Accept Request</p> </button>
                <button class="primary-menu-button" type="button"> <p>Block</p> </button>
                <button class="primary-menu-button" type="button"> <p>Unblock</p> </button>
                -->
              </div>
            </div>
        </div> 
      </div> 

      <div *ngIf="LoggedUser === true && isSearchForUsers===true">
        <div class="page-heading " *ngFor="let user of users">
          <div class="media clearfix">
            <div class="media-left pr30">
              <a>
                <img *ngIf="user.Gender == 'male'" [src]="'http://xsgames.co/randomusers/assets/avatars/male/'+user.UserId+'.jpg'"  class="media-object mw100 rounded-circle shadow-4">
                <img *ngIf="user.Gender == 'female'" [src]="'http://xsgames.co/randomusers/assets/avatars/female/'+user.UserId+'.jpg'"  class="media-object mw100 rounded-circle shadow-4">
              </a>
            </div>
            <div class="media-body" >
              <h2 class="media-heading"> {{user.Name}}
                <small> - <i> {{user.Username}} </i></small>
                <span *ngIf="user.IsPrivateProfile === true"> <img src="./../../../assets/images/icon-private.svg" style="margin:-2px 0px 0px 2px; width:15px; height:15px;"/> </span>
                <span *ngIf="user.IsPrivateProfile === false"> <img  src="./../../../assets/images/icon-public.svg" style="margin:-2px 0px 0px 2px; width:15px; height:15px;"/> </span>
              </h2>
              <p class="lead truncate"><i>Biography:</i>  &nbsp; {{user.Biography}} </p>
           </div>
           <div class="profile-options d-flex" style="float:right; flex:1; padding:2px;"> 
            <button class="primary-menu-button" type="button" (click)="redirectToUserProfile(user.ID)"> <p>View profile</p> </button>
            <!-- TODO: Profile options
            <button class="primary-menu-button" type="button"> <p>Message</p> </button>
            <button class="primary-menu-button" type="button"> <p>Link</p> </button>
            <button class="primary-menu-button" type="button"> <p>Unlink</p> </button>
            <button class="primary-menu-button" type="button"> <p>Accept Request</p> </button>
            <button class="primary-menu-button" type="button"> <p>Block</p> </button>
            <button class="primary-menu-button" type="button"> <p>Unblock</p> </button>
            -->
          </div>
          </div>
        </div> 
      </div>

      <div *ngIf="numberOfSearchResults == 0" class="d-flex flex-column align-items-center">
          <img src="./../../../assets/images/logo-icon.svg" style="width:30%; height:30%; opacity:0.3; margin-top:12%;">
          <img src="./../../../assets/images/logo-dislinkt-text.svg" style="width:30%; height:30%; opacity:0.4;"> <br>
          <h3 style="opacity:0.5; text-align: center;"> Create your own business social network.</h3 >

      </div>

    </section>
    
</div>