:host {
    --dark-main: #2A2F35;
	--dark-navbar: #1E2126;
	--dark-navbar-icon-background: #2A2F35;
	--dark-navbar-icon-active-background: #3c4046;

	--dark-important-text-color: #F4F4F4;
	--dark-text-color: #A4A4A4;

    --full-white: #fff;
	--full-black: #000;

    --icon-color: #A4A4A4;

	--color-blurple: #7289da;
	--color-not-quite-black: #23272a;
	--color-dark: #2c2f33;
	--color-lighter-dark: #45494e;
	--color-grey-white: #B9BBBE;
	--color-grey-dark: #242629;
	--color-actually-black: #000000;
	--color-fantastic-green: #00ae7a;
}



.homepage-component {


    background-size: 70% 70%;
    -webkit-background-size: 70% 70%;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	background-color: var(--dark-main);
    color: var(--full-white);
	
	width:60%;
	left:20%;
	position: fixed;

	background-color: var(--dark-main);


}

.search-bar{
	text-align: center;
	width:100%;
	margin-top:5%
}

.page-heading {
	position: relative;
	padding: 30px 40px;
	margin: 15px -20px 25px;
	border-bottom: 1px solid --dark-navbar;
	background-color: var(--dark-navbar);
	border-radius: 10px;
  }