<div class="user-post-card">
    <div class="user-post-card-content">
         <!-- POST HEADER -->
        <div class="post-header">
            <!-- header left -->
            <div class="post-header-left">
                <a href="/profile"> <img src="./assets/images/placeholder-profile-picture.png" class="post-author-picture"/> </a>
                <div class="post-author">
                    <span class="post-author-name"> <a href="/profile"> <b>Doggy Depp</b></a> </span>
                </div>
                    <span class="post-date"><a href="#"> October 13, 2020</a></span>
                    <span class="post-date-privacy-separator">&nbsp;·&nbsp;</span>
                    <span>   <img src="./assets/images/icon-private.svg" style="width:11px; height:11px;"/></span>
            </div>
            <!-- header right -->
            <div class="post-header-right">
                <div class="post-options">
                    <span>   <img src="./assets/images/icon-options.svg" style="width:11px; height:11px;"/></span>
                </div>
            </div>

        </div>
        <!-- POST CONTENT-->
        <div class="post-content">
            <p class="content-paragraph">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar placerat commodo. Aenean rhoncus sagittis leo vitae ultrices. Aenean placerat ex a commodo venenatis.Aenean mattis arcu neque, sed egestas ante tempus in. 🐶🐶🐶🐶🐶
            </p>
            <img src="/assets/images/placeholder-post-photo.png" class="content-image">
        </div>
        <!-- POST FOOTER-->
        <div class="post-footer">

            <div class="footer-reactions">
                <div class="reactions-emojis">
                    <img src="/assets/images/icon-like-filled.svg" class="emoji-like">
                    <span><a>16K</a></span>
                    <img src="/assets/images/icon-dislike-filled.svg" class="emoji-dislike">
                    <span><a>16K</a></span>
                </div>
                <div class="reactions-comment">
                    <span class="comment-shares-comments"><a>18.2K Comments</a></span>
                    <span class="comment-shares-comments"><a>5.4K Shares</a></span>

                </div>
            </div>



        </div>
    </div>
</div>
