<div id="id-passwordless-modal" class="modal">
  
    <form class="modal-content animate">
      <div class="modal-title-container">
        <span onclick="document.getElementById('id-passwordless-modal').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img class="modal-title-icon" src = "/assets/images/icon-sign-in.svg" alt="sign-in-icon"/>
        <span class="modal-title-text">Passwordless login request</span>
      </div>
  
      <div class="form-container">
        <label class="form-label" for="email"><b>Email</b></label>
        <input type="text" class="form-control" placeholder="Enter Email" name="email" required [(ngModel)]="email">
  
        <button type="submit" data-dismiss="modal"   onclick="document.getElementById('id-passwordless-modal').style.display='none'; document.getElementById('id-passwordless-login-modal').style.display = 'block'" (click)="sendPasswordlessLoginRequest()">Send code for passwordless login</button>
       
      </div>
  
      <div class="form-container">
        <button type="button" onclick="document.getElementById('id-passwordless-modal').style.display='none'  " class="cancelbtn" data-dismiss="modal">Cancel</button>

      </div>
    </form>
  </div>



  <div id="id-passwordless-login-modal" class="modal">
  
    <form class="modal-content animate">
      <div class="modal-title-container">
        <span onclick="document.getElementById('id-forgot-password-modal').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img class="modal-title-icon" src = "/assets/images/icon-sign-in.svg" alt="sign-in-icon"/>
        <span class="modal-title-text">Passwordless login </span>
      </div>
  
      <div class="form-container">
        <label class="form-label" for="code"><b>Enter code </b></label>
        <input type="text" class="form-control" placeholder="Enter Code" name="code" required [(ngModel)]="code">
        <button type="submit" data-dismiss="modal"   onclick="document.getElementById('id-passwordless-login-modal').style.display='none'" (click)="PasswordlessLoginRequest()">Log in</button>
      </div>
  
      <div class="form-container">
        <button type="button" onclick="document.getElementById('id-passwordless-login-modal').style.display='none'  " class="cancelbtn" data-dismiss="modal">Cancel</button>

      </div>
    </form>
  </div>


  