<div id="id-passwordless-modal" class="modal">
  
    <form class="modal-content animate"  [formGroup]="passwordlessForm1!" (ngSubmit)="sendPasswordlessLoginRequest()">
      <div class="modal-title-container">
        <span onclick="document.getElementById('id-passwordless-modal').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img class="modal-title-icon" src = "/assets/images/icon-sign-in.svg" alt="sign-in-icon"/>
        <span class="modal-title-text">Passwordless login request</span>
      </div>
  
      <div class="form-container">
        <div class="form-group"> 
        <label class="form-label" for="email"><b>Email</b></label>
        <input type="text" formControlName="email"  class="form-control is-invalid" placeholder="Enter Email"  [ngClass]="{'is-invalid':submitted1 && passwordlessForm1.controls.email.errors}" name="email" required [(ngModel)]="email">
        <div *ngIf="submitted1 && passwordlessForm1.controls.email.errors" class="text-danger" >
        
          <div *ngIf="submitted1  && passwordlessForm1.controls.email.errors.email ">
            Email is not correct
          </div>
          <div *ngIf="submitted1 && passwordlessForm1.controls.email.errors.required">
            Email is required
          </div>
        </div>
      </div>
        <button type="submit" data-dismiss="modal" ng-disabled="passwordlessForm1.$submitted1" >Send code for passwordless login</button>
       
      </div>
  
      <div class="form-container">
        <button type="button"   onclick="document.getElementById('id-passwordless-modal').style.display='none'" class="cancelbtn" data-dismiss="modal">Cancel</button>

      </div>
    </form>
  </div>



  <div id="id-passwordless-login-modal" class="modal">
  
    <form class="modal-content animate"  [formGroup]="passwordlessForm!" (ngSubmit)="PasswordlessLoginRequest()">
      <div class="modal-title-container">
        <span onclick="document.getElementById('id-forgot-password-modal').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img class="modal-title-icon" src = "/assets/images/icon-sign-in.svg" alt="sign-in-icon"/>
        <span class="modal-title-text">Passwordless login </span>
      </div>
  
      <div class="form-container">

        <label class="form-label" for="code"><b>Enter code </b></label>
        <input type="text" formControlName="code" class="form-control is-invalid" placeholder="Enter Code"  [ngClass]="{'is-invalid':submitted && passwordlessForm.controls.code.errors}" name="code" required [(ngModel)]="code">
        <div *ngIf="submitted && passwordlessForm.controls.code.errors" class="text-danger" >
          <div *ngIf="submitted && passwordlessForm.controls.code.errors.required">
            Code is required
          </div>
        </div>

        <button type="submit" data-dismiss="modal" ng-disabled="passwordlessForm.$submitted">Log in</button>
      </div>
  
      <div class="form-container">
        <button type="button" onclick="document.getElementById('id-passwordless-login-modal').style.display='none'  " class="cancelbtn" data-dismiss="modal">Cancel</button>

      </div>
    </form>
  </div>


  