.create-post-card{
    position: relative;
    max-width: 45vw;
    left: 50%;
    transform: translate(-50%);
    background-color: #2A2F35;
    border-radius: 1vh;
    margin-bottom: 2vh;
    padding: 1vh;
    font-size: 16px;
    font-family: Ubuntu;
    font-weight: 300;

}

.create-post-card a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: inherit;
}

.create-post-card-content{
    display: flex;
    justify-content: center;
}



.inline-left-align-container{
    display:flex;
    text-align: left;
    align-items: center;
    height: min-content;
}

.primary-menu-button{
    background-color: #1E2126;
    color: #A4A4A4;
    border: 0px;
    border-radius: 2vh;

    font-family: Ubuntu;
    font-weight: bold;
    font-size: clamp(2.2vh, 15px, 3.3vh);


    margin-left: auto;
    margin-right: auto;

    width: max-content;

    padding: 0px 1.5vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    transition-duration: 0.4s;
    transition-property: background-color, color;
    cursor: pointer;
}


.primary-menu-button:hover {
    background-color: #A4A4A4;
    color: #2A2F35;
  }

.primary-menu-button .card-title-icon{
    transition-duration: 0.4s;
    transition-property: filter;
}

.primary-menu-button:hover .card-title-icon {
	filter: brightness(30%);
}